html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: cadetblue;
}
.total{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.butt{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    font-family:sans-serif;
    color: white;
    font-size: 78px;
    cursor: pointer;
    text-align: center;
}
.block{
    height: 100px;
    width: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 310px;
    height: 310px;
    /*background-color: darkgrey;*/
}

.one, .two, .four, .five, .seven, .eight{
    border-right: 5px solid rgb(68, 99, 100);
}
.four, .five, .six{
    border-top: 5px solid rgb(68, 99, 100);
    border-bottom: 5px solid rgb(68, 99, 100);
}
.text{
    height: 200px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    height: 80px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ret{
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.418);
    font-family:sans-serif;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}